body {
  margin: 0;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 12px;
  background: linear-gradient(
    0deg,
    rgba(101, 101, 231, 1) 0%,
    rgba(175, 103, 233, 1) 100%
  );
  background-repeat: no-repeat;
  height: 100vh;
  color: hsl(238, 29%, 16%);
}

.container {
  margin: 50px auto;
}

.app {
  background: #fff;
  border-radius: 10px;
}

details {
  border-bottom: 1px solid #e7e7e9;
}

/* summary {
  font-weight: ;
} */

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 100px;
  /* edit margin later */
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
